<h1>Edit Project Form</h1>

<%= form_for(@project) do |f| %>
   <h3><%= f.label :title %></h3>
   <%= f.text_field :title %><br>
   <br>
   <h3><%= f.label :description %></h3>
   <%= f.text_area :description %><br>
   <br>
   <br>
   <%= f.submit %>
<% end %>

<%= button_to("Home", projects_path, method: :get) %><br>